In [28]:
import pandas as pd
from pathlib import Path
from math import sin, cos, sqrt, atan2, radians

In [29]:
jan_df1 = pd.read_csv("2023-citibike-tripdata/1_January/202301-citibike-tripdata_1.csv")
jan_df2 = pd.read_csv("2023-citibike-tripdata/1_January/202301-citibike-tripdata_2.csv")
jul_df1 = pd.read_csv("2023-citibike-tripdata/7_July/202307-citibike-tripdata_1.csv")
jul_df2 = pd.read_csv("2023-citibike-tripdata/7_July/202307-citibike-tripdata_2.csv")
jul_df3 = pd.read_csv("2023-citibike-tripdata/7_July/202307-citibike-tripdata_3.csv")
jul_df4 = pd.read_csv("2023-citibike-tripdata/7_July/202307-citibike-tripdata_4.csv")

C:\Users\danie\AppData\Local\Temp\ipykernel_12208\478736597.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_df1 = pd.read_csv("2023-citibike-tripdata/1_January/202301-citibike-tripdata_1.csv")
C:\Users\danie\AppData\Local\Temp\ipykernel_12208\478736597.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_df2 = pd.read_csv("2023-citibike-tripdata/1_January/202301-citibike-tripdata_2.csv")
C:\Users\danie\AppData\Local\Temp\ipykernel_12208\478736597.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jul_df1 = pd.read_csv("2023-citibike-tripdata/7_July/202307-citibike-tripdata_1.csv")
C:\Users\danie\AppData\Local\Temp\ipykernel_12208\478736597.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jul_df2 = pd.read_csv("2023-citibike-tripdata/7_July/202307-citibike-tripdata_2.csv")
C:\Users\danie\AppData\Local\Temp\ipykernel_12208\478736597.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jul_df3 = pd.read_csv("2023-citibike-tripdata/7_July/202307-citibike-tripdata_3.csv")

In [30]:
merged_df = pd.concat([jan_df1, jan_df2, jul_df1, jul_df2, jul_df3, jul_df4])
merged_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
776251,8EB48FBE46A673DF,classic_bike,2023-07-28 19:11:45,2023-07-28 19:38:24,S 4 St & Rodney St,5156.05,Irving Ave & Halsey St,4695.04,40.709340,-73.956080,40.694670,-73.906630,member
776252,8B66692B4C236E00,classic_bike,2023-07-11 20:09:42,2023-07-11 20:38:01,Madison Ave & E 120 St,7667.04,Intervale Ave & Westchester Ave,7948.10,40.803026,-73.942863,40.821967,-73.896752,member
776253,86E2D896051F1420,classic_bike,2023-07-25 21:05:48,2023-07-25 21:10:15,Windsor Pl & Howard Pl,3579.04,14 St & 5 Ave,3771.06,40.659647,-73.980421,40.666287,-73.988951,member
776254,556B12591EC0C385,classic_bike,2023-07-15 13:15:14,2023-07-15 13:25:55,DeKalb Ave & Vanderbilt Ave,4461.04,Broadway & Kent Ave,5134.09,40.689412,-73.968847,40.710888,-73.968329,member
776255,1FE35D1565CF12ED,electric_bike,2023-07-05 09:19:00,2023-07-05 09:21:34,E 117 St & 1 Ave,7579.11,E 116 St & 2 Ave,7563.06,40.796568,-73.934595,40.796879,-73.937261,member

In [31]:
merged_df = merged_df.dropna()
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual

In [32]:
merged_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [33]:
merged_df["started_at"] = merged_df["started_at"].astype("datetime64[ns]")
merged_df["ended_at"] = merged_df["ended_at"].astype("datetime64[ns]")

C:\Users\danie\AppData\Local\Temp\ipykernel_12208\2677387100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["started_at"] = merged_df["started_at"].astype("datetime64[ns]")
C:\Users\danie\AppData\Local\Temp\ipykernel_12208\2677387100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["ended_at"] = merged_df["ended_at"].astype("datetime64[ns]")

In [34]:
merged_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [35]:
merged_df = merged_df.sort_values(["started_at"])
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
879593,4612E3DBB1F3088D,classic_bike,2023-01-01 00:00:13,2023-01-01 00:19:55,W 56 St & 10 Ave,6955.01,Harrison St & Hudson St,5400.05,40.768355,-73.988888,40.718710,-74.009001,member
319265,4C882B46547FA011,classic_bike,2023-01-01 00:00:15,2023-01-01 00:35:07,W 106 St & Amsterdam Ave,7634.01,W 106 St & Amsterdam Ave,7634.01,40.800795,-73.966422,40.800836,-73.966449,member
700568,63AF84DBE457A618,classic_bike,2023-01-01 00:00:21,2023-01-01 00:01:14,Grand St & Havemeyer St,5267.08,Grand St & Havemeyer St,5267.08,40.712868,-73.956981,40.712868,-73.956981,casual
263783,2054AE257784A52C,classic_bike,2023-01-01 00:00:27,2023-01-01 00:06:50,President St & Henry St,4307.13,Clinton St & 4 Place,4119.04,40.682745,-73.999806,40.678356,-74.000145,member
131250,D853DABC874C9655,classic_bike,2023-01-01 00:00:29,2023-01-01 00:02:37,Nagle Ave & Ellwood St,8528.05,Nagle Ave & Ellwood St,8528.05,40.860120,-73.928489,40.860120,-73.928489,member

In [36]:
merged_df["duration"] = merged_df["ended_at"] - merged_df["started_at"]
merged_df["duration_minutes"] = round(merged_df["duration"].dt.seconds/60,1)
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,duration,duration_minutes
879593,4612E3DBB1F3088D,classic_bike,2023-01-01 00:00:13,2023-01-01 00:19:55,W 56 St & 10 Ave,6955.01,Harrison St & Hudson St,5400.05,40.768355,-73.988888,40.718710,-74.009001,member,0 days 00:19:42,19.7
319265,4C882B46547FA011,classic_bike,2023-01-01 00:00:15,2023-01-01 00:35:07,W 106 St & Amsterdam Ave,7634.01,W 106 St & Amsterdam Ave,7634.01,40.800795,-73.966422,40.800836,-73.966449,member,0 days 00:34:52,34.9
700568,63AF84DBE457A618,classic_bike,2023-01-01 00:00:21,2023-01-01 00:01:14,Grand St & Havemeyer St,5267.08,Grand St & Havemeyer St,5267.08,40.712868,-73.956981,40.712868,-73.956981,casual,0 days 00:00:53,0.9
263783,2054AE257784A52C,classic_bike,2023-01-01 00:00:27,2023-01-01 00:06:50,President St & Henry St,4307.13,Clinton St & 4 Place,4119.04,40.682745,-73.999806,40.678356,-74.000145,member,0 days 00:06:23,6.4
131250,D853DABC874C9655,classic_bike,2023-01-01 00:00:29,2023-01-01 00:02:37,Nagle Ave & Ellwood St,8528.05,Nagle Ave & Ellwood St,8528.05,40.860120,-73.928489,40.860120,-73.928489,member,0 days 00:02:08,2.1

In [37]:
merged_df.to_csv("output.csv", index=False)